body {
    font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}
h6 {
    margin: 0 0;
    font-weight: lighter;
    font-style: italic;
    color: lightgray;
    padding-left: 0.25rem;
}
table {
    width: 100%;
}
th {
    width: 50%;
    font-weight: bold;
    border-bottom: 1px dotted black;
}
td {
    white-space: nowrap;
    border-bottom: 1px dotted black;
}
legend {
    font-size: 0.75rem;
    padding: 0 0.5rem;
}
dl {
    margin: 0.5rem 0;
}
details {
    padding-left: 0.5rem;
}
details table {
    padding-left: 0.5rem;
    font-size: 0.75em;
}
summary {
    white-space: nowrap;
}
summary::marker,
summary::-webkit-details-marker {
    margin: 0;
    font-size: 0.75em;
}
.accessories {
    display: flex;
    flex-wrap: wrap;
}
.accessory {
    margin: 0.5rem;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    resize: both;
    min-width: 5em;
    min-height: 5em;
    width: 25rem;
    height: 25rem;
    overflow: scroll;
}
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
}
.service {
    border: 1px dotted lightblue;
    margin: 3px;
    border-radius: 5px;
    overflow: scroll;
    min-height: 3em;
}
.typeName {
    color: lightgray;
    font-style: italic;
    font-size: 0.75em;
}

.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline-block;
}

.htmx-indicator:after {
    content: ' ';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: htmx-indicator 1.2s linear infinite;
}

@keyframes htmx-indicator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}